<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text.css" href="angular.css" />
  </head>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">
        <h3  ng-include="'product-title.html'">
        </h3>
          <img ng-src="{{product.images[0].full}}" />
          <section ng-controller="PanelController as panel">
          <product-panels ng-controller="PanelController as panels">
          </product-panels>
          {{tab}}
          <button ng-show="product.canPurchase"> Add to Cart </button>

          <div class="panel" ng-show="panel.isSelected(1)">
            <product-title></product-title>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <p>None Yet</p>
          </div>

          <div class="panel" ng-show="panel.isSelected(3)">
            <ul>
              <h4>Reviews</h4>
              <li ng-repeat = "review in product.reviews">
                <blockquote>
                <b>Stars: {{review.stars}} </b>
                {{review.body}}
                <cite class="clearfix">by: {{review.author}}</cite>
                </blockquote>
              </li>
            </ul>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote ng-show="product.reviews">
              <b>Stars: {{reviewCtrl.review.stars}}</b>
              {{reviewCtrl.review.body}}
              <cite class="clearfix">by:{{reviewCtrl.review.author}}</cite>
              </blockquote>
            <fieldset class="form-group">
            <select ng-model="reviewCtrl.review.stars" required>
              <option value="1">1 Star</option>
              <option value="2">2 Stars</option>
              <option value="3">3 Stars</option>
              <option value="4">4 Stars</option>
              <option value="5">5 Stars</option>
            </select>
            </fieldset>

            <fieldset class="form-group">
              <textarea name="body" ng-model="reviewCtrl.review.body" required></textarea>
            </fieldset>

            <fieldset class="form-group">
              <label>by:</label>
              <input ng-model="reviewCtrl.review.author" type="email" required />

            </fieldset>
            <fieldset class="form-group">
              <div> reviewForm is {{reviewForm.$valid}} </div>
              <input type="submit" class="btn btn-primary" value="Submit" />
            </fieldset>
          </form>

          </div>
        </section>
      </li>
    </ul>

    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
